mixin pokemonCard(pokemon)
    div(class=`card ${pokemon.type.toLowerCase()}`)
        div.card-header
            div.types=pokemon.types
            div.card-title=pokemon.name
            div.health
                span HP: #{pokemon.health}
                img(class='type-image' src=`/images/${pokemon.type.toLowerCase()}.png` alt=pokemon.type)
            div.types= pokemon.type
            img.card-header-image(src=pokemon.image)
        div.card-body
            div.edit
                a(href=`/edit/${pokemon.id}`) Edit
            div.card-details
                div.attacks=pokemon.attackone
                div.attackCost Cost: #{pokemon.attackonecost}
            div.card-details2
                div.attacks=pokemon.attacktwo
                div.attackCost Cost: #{pokemon.attacktwocost}
